<div class="container col w-100 m-8">
    <h2  (click)="collapsed = !collapsed" class="w-100 pointer">Bars To Time ⬍</h2>
    <div *ngIf="!collapsed" class="container col w-100 m-8">

        <app-number-input 
            class="w-100 m-8"
            (changed)="calcResult()" 
            [label]="'bars at'" 
            [(value)]="values.bars"
        ></app-number-input>
        <app-number-input 
            class="w-100 m-8"
            (changed)="calcResult()" 
            [label]="'bpm'" 
            [(value)]="values.bpm"
        ></app-number-input>
        
        <span class="w-100 m-8 centered">( 4/4 signature )</span>
        
        <h3 class="w-100 m-8">Result: {{ (result | async )?.timeStr }}</h3>
    </div>
</div>
