input {
    all: unset;
    // background-color: magenta;
    // border-bottom: 1px solid darkgray;
    text-decoration: underline;
    text-align: right;
    font-weight: bold;
    cursor: pointer;
}